/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }
    body {
       width: 800px;
       height: 90%;
    }

    header {
        background-color: Blue;
        padding: 5px;
        font-size: 14px;
        font-family: helvetica;
        display: block;
    }

    h1 {
        background-color: Grey;
        padding: 5px;
        display: block;
    }

    h2 {
        background-color: currentColor;
        padding: 5px;
        display: block;
    }

    nav {
        float: left;
    }
    nav ul {
        padding: 5px;
        float: left;
        border-bottom: 5px;
        list-style-type: none;
        font-size: 14px;
        font-family: helvetica;
    }
    nav li {
        float: left;
    }
    nav li a {
        display: block;
        height: 25px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }
    a {
        color: Blue;
    }
    section {
        width: 73%;
        display: inline-block;
        float: left;
    }
    aside {
        width: 27%;
        display: inline-block;
        background-color: Yellow;
        padding: 5px;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 800px;
        background-color: Solid Black;
        color: White;
        clear: both;
        display: block;
    }
